/* Color palette

#ffffff - white
#f8f8f8 - light grey
#000000 - black
#ff0000 - red

*/

/* Fonts
------------------------------------*/
@font-face {
    font-family: 'Maison Neue';
    src: url('https://demo.matushatala.com/fonts/MaisonNeue-Bold.eot');
    src: url('https://demo.matushatala.com/fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Bold.woff2') format('woff2'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Bold.woff') format('woff'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Mono';
    src: url('https://demo.matushatala.com/fonts/MaisonNeue-Mono.eot');
    src: url('https://demo.matushatala.com/fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Mono.woff2') format('woff2'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Mono.woff') format('woff'),
         url('https://demo.matushatala.com/fonts/MaisonNeue-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global styles
------------------------------------*/

body {
    background: #ffffff;
    margin: 50px auto;
    float: none;
    padding: 60px;
    /* safe font */font-family: 'Maison Neue Mono', monospace;
    font-weight: normal;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
/* Fade in on load */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1, h2, h3 {
  font-family: 'Maison Neue', sans-serif;
  font-weight: bold;
}

a {
  color: #1573dd;
}
a:hover {
  color: #ff0000;
}

.content-wrap {
  width: 50%;
  float: left;
  padding: 0 80px 0 0;
}
.img-wrap {
  float: right;
  width: 30%;
}
#left-a-little {
  padding-left: 20px;
}

#arrow-down-scroll {
}

/* Header & Footer
------------------------------------*/
img {
  max-width: 350px;
  position: fixed;
  border-radius: 5px;
}
#hire-me {
  position: fixed;
  display: block;
  font-family: 'Maison Neue', sans-serif;
  font-weight: bold;
  transform: translateX(-30px) translateY(30px);
  font-size: 25px;
}
h1 {
  font-size: 200px;
  margin-bottom: 25px;
  line-height: 190px;
}
header h2 {
  max-width: 540px;
  background-color: #f8f8f8;
  padding: 45px 60px;
  margin-left: -45px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

/* Work Experience
------------------------------------*/
nav {
  margin-left: -5px;
}
/* no fixed position because I didn't like the way it looked */
nav a {
  padding: 10px 20px;
  color: #000;
}

/* Work Experience
------------------------------------*/


/* Education
------------------------------------*/


/* Footer
------------------------------------*/
footer div a {
  display: block;
}

footer p:last-child {
  opacity: .6;
}
footer p:last-child:hover {
  opacity: 1;
}
